img{
    width: 500;
}
#para1{
 margin-right: 40;
 margin-left: 40;
}
#para2{
 margin-right: 40;
 margin-left: 40;
}
#narrate-text{
    margin-left: 500;
}


div {
  text-align: justify;
  text-justify: inter-word;
}
body{
text-align: left;
}
#murali-image{
    width: 300px;
    height: 400px;
}